.settings{
  font-weight: 150;
  font-size: small;
  color: rgba(43, 32, 32, 0.684);
  text-align: left;
  margin-bottom: 50px;
  margin-top: 3px;
  text-decoration: underline;
  font-weight: 500;
  width: 200px;
  height: 100px;
}


