/* Base styles */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: bisque;
}

p {
  font-family: 'Times New Roman', Times, serif;
}

/* Welcome text */
.w {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
 ;
}

/* Button styling */
.button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 50px; ;
}

.hello {
  background-color: rgb(37, 37, 136);
  color: aqua;
  border: solid 1px black;
  height: 36px; 
  width: 105px;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  transition: opacity 0.2s, box-shadow 0.3s;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hello:hover {
  box-shadow: 5px 5px 10px rgba(6, 6, 6, 0.2);
  opacity: 0.6;
}

.hello:active {
  opacity: 0.2;
}

.abc {
  background-color: rgb(255, 255, 255);
  color: rgb(12, 8, 16);
  border: solid 1px black;
  height: 36px; 
  width: 105px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.abc:hover {
  box-shadow: 5px 5px 10px rgba(6, 6, 6, 0.2);
  background-color: aqua;
}

.abc:active {
  opacity: 0.3;
}

.a123 {
  background-color: darkred;
  color: black;
  border: solid 1px black;
  height: 36px; 
  width: 105px;
  border-radius: 18px;
  cursor: pointer;
  margin-left: 5px;
  font-size: medium; 
  font-weight: bold;
  transition: opacity 0.2s, box-shadow 0.3s;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

.a123:hover {
  box-shadow: 5px 5px 10px rgba(6, 6, 6, 0.2);
  opacity: 0.6;
}

.a123:active {
  opacity: 0.3;
}

/* Instagram link */
.link {
  display: block;
  font-size: 15px;
  text-align: right;
  font-weight: bold;
  color: rgb(215, 35, 161);
  margin: 10px 0;
}

/* Camera text */
.c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 50px;
 background-color: rgb(44, 198, 198);

  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  
}

/* Footer section */
.an {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.2);
  background-color: crimson;
  color: rgb(255, 255, 255);
  padding: 15px 20px;
  margin-top: 10px;
}

.name {
  cursor: pointer;
}

.name:hover {
  text-decoration: underline;
}









  










  
  




